.country-page-header {
  width: 100%;
  max-width: $width;
  margin-top: 60px;
  button {
    width: 120px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include shadow;
  }
  .country-page-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px 30px;
    justify-content: center;
    align-content: center;
  }
}
